.content{
    height: 5000px;
    display: flex;
    align-items: end;
}

#scrollbar{
    position: fixed;
    width: 5px;
    height: 3px;
    background-color: red;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}